<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Big School</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-dark bg-dark px-3">
    <a class="navbar-brand text-white" th:href="@{/}">Home</a>
    <a class="navbar-brand text-white" th:href="@{/courses/create}">Add Course</a>
</nav>

<div class="container mt-4">

    <!-- NỘI DUNG TRANG -->
    <div th:fragment="content">
    </div>

</div>

<footer class="text-center mt-4">
    Lập trình ứng dụng Java - Nguyễn Huy Cường - @2023
</footer>

</body>
</html>